@model List<ToDo.Models.Task>

@{
    ViewData["Title"] = "My Tasks";
    <div class="jumbotron">

        <div class="display-2 text-dark">
            My Tasks
        </div>
    </div>

    <hr />

    <div class="row mt-4">
        <div class="col-3">
            <h4>
                What are you up to today?
            </h4>
        </div>
        <div class="col-2">
            <a class="btn btn-primary" asp-controller="Task" asp-action="ViewTask">
                New task
            </a>
        </div>
    </div>
  
    <hr/>
    foreach (ToDo.Models.Task task in Model)
    {
        <div class="list-group mt-2">
            <a class="list-group-item list-group-item-action" aria-current="true" asp-route-id="@task.Id" asp-controller="Task" asp-action="ViewTask">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@task.Title</h5>
                    <small>Due @task.DueDate.ToShortDateString()</small>
                </div>
                <p class="mb-1">@task.Text</p>
                <small>@task.AssignedUserName</small>
            </a>
        </div>
    }
    if (Model.Count == 0)
    {
        <h5 style="color: gray;">No tasks yet</h5>
    }
}